#productos div {
  border: solid 1px;
  padding: 15px;
  background-color: white;
}

.border {
  border: 1px solid black;
}

/* GRIDS */
header {
  grid-area: header;
  background-color: #ffdb4d;
  align-items: center;
  justify-items: center;
}

footer {
  grid-area: footer;
  background-color: #ffdb4d;
  height: 100px;
  align-items: center;
}

#productos {
  grid-area: productos;
}

#listaprod {
  grid-area: listaprod;
  height: 250px;
}

#listaprod {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: aparece;
  animation-name: aparece;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

section#menunav-flex {
  grid-area: menunav;
}

.tittle {
  display: flex;
  margin-top: 50%;
  align-items: center;
}

#grilla {
  display: grid;
  grid-template-columns: 20% auto 15%;
  grid-template-rows: 100px 50px 1fr 75px;
  grid-template-areas: "header header header" "menunav menunav menunav" "listaprod productos publicidad" "footer footer footer";
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
  background-color: whitesmoke;
  justify-items: stretch;
}

#productos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 35px;
  justify-content: space-evenly;
  justify-items: center;
}

.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.menu-flex {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.lista-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*grilla index*/
section#main-flex {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-items: space-around;
  justify-content: space-around;
}

#grilla2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 50px auto auto 75px;
  grid-template-areas: "header header header" "menunav menunav menunav" "main main main" "cuadrotexto cuadrotexto" "footer footer footer";
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
  background-color: whitesmoke;
}

.p1 {
  display: flex;
  background-color: whitesmoke;
  border: 1px #ffdb4d;
  border-radius: 15px;
  height: 140px;
  width: 140px;
}

#main-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: space-around;
}

.cuadrosMarcas-flex {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-items: space-around;
  justify-content: space-around;
}

.cuadrosMarcas-flex {
  -webkit-animation-name: efecto;
  animation-name: efecto;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: 2s;
  animation-timing-function: 2s;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-delay: 3;
  animation-delay: 3;
}

@-webkit-keyframes efecto {
  0% {
    width: 700px;
    height: 150px;
    background-color: #ffdb4d;
  }
  25% {
    width: 400px;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 100px;
  }
  100% {
    width: 0px;
  }
}
@keyframes efecto {
  0% {
    width: 700px;
    height: 150px;
    background-color: #ffdb4d;
  }
  25% {
    width: 400px;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 100px;
  }
  100% {
    width: 0px;
  }
}
#cuadrotextos-flex {
  grid-area: cuadrotexto;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 30px;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

@media screen and (min-width: 320px) {
  #grilla {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto 75px;
    grid-template-areas: "header header header" "menunav menunav menunav" "productos productos productos" "footer footer footer";
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 20px;
    background-color: whitesmoke;
  }
  #menunav-flex {
    display: block;
  }
  #listaprod {
    display: none;
  }
  #productos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "listaprod productos productos" "productos productos productos";
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
  }
  #grilla2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto auto 75px;
    grid-template-areas: "header header header" "menunav menunav menunav" "main main main" "cuadrotexto cuadrotexto cuadrotexto" "footer footer footer";
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 20px;
    background-color: whitesmoke;
  }
  #cuadrotextos-flex {
    display: none;
  }
  #grillamarcas {
    display: grid;
    display: flex;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "smams dimax naturalseeds";
    border: 1px solid black;
    justify-content: space-around;
    row-gap: 10px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  #otrasmarcas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
  }
  #grillacontactos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto auto 75px;
    grid-template-areas: "header header header" "menunav menunav menunav" "formulario formulario formulario" "mapa mapa mapa" "footer footer footer";
    background-color: whitesmoke;
  }
  #formulario {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "nombre nombre nombre " "apellido apellido apellido" "email email email" "observaciones observaciones observaciones" "contactar contactar contactar" "calificacion calificacion calificacion";
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    -moz-column-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    row-gap: 10px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  #grilla {
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 50px 1fr 75px;
    grid-template-areas: "header header header" "menunav menunav menunav" "listaprod productos publicidad" "footer footer footer";
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 20px;
    background-color: whitesmoke;
    justify-items: stretch;
  }
  #menunav-flex {
    display: block;
  }
  #listaprod {
    display: block;
  }
  #productos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
  }
  #grilla2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto auto 75px;
    grid-template-areas: "header header header" "menunav menunav menunav" "main main main" "cuadrotexto cuadrotexto cuadrotexto" "footer footer footer";
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 20px;
    background-color: whitesmoke;
  }
  #cuadrotextos-flex {
    display: block;
  }
}
#grillacontactos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 50px auto auto 75px;
  grid-template-areas: "header header header" "menunav menunav menunav" "formulario formulario formulario" "mapa mapa mapa" "footer footer footer";
  background-color: whitesmoke;
}

#formulario {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "nombre nombre nombre " "apellido apellido apellido" "email email email" "observaciones observaciones observaciones" "contactar contactar contactar" "calificacion calificacion calificacion";
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  row-gap: 10px;
  align-items: center;
}

#mapa {
  grid-area: mapa;
  display: flex;
  justify-items: space-around;
  align-items: center;
}

.nombre {
  grid-area: nombre;
}

.apellido {
  grid-area: apellido;
}

.email {
  grid-area: email;
}

.observaciones {
  grid-area: observaciones;
}

.contactar {
  grid-area: contactar;
}

.calificacion {
  grid-area: calificacion;
}

/*Grid recetas*/
@media screen and (min-width: 320px) {
  #grillaR {
    display: grid;
    display: flex;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto 75px;
    grid-template-areas: "header header header" "menunav menunav menunav" "imagen1 imagen1 ejemplo" "footer footer footer";
  }
  .listaRecetas {
    display: none;
  }
  .ingredientes {
    display: none;
  }
  #pasos {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #grillaR {
    display: grid;
    display: flex;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto auto auto 75px;
    grid-template-areas: "header header header" "menunav menunav menunav" "presentacion presentacion imagen" "ingredientes paso pasos" "ejemplo ejemplo ejemplo" "footer footer footer";
  }
  .ingredientes {
    display: block;
  }
  #pasos {
    display: block;
  }
  .imagen1 {
    display: block;
  }
  #presentacion {
    display: flex;
    grid-area: presentacion;
    justify-content: center;
  }
  #listaRecetas {
    display: flex;
    grid-area: listaRecetas;
  }
  #ejemplo {
    display: flex;
    grid-area: ejemplo;
    justify-content: center;
  }
  #imagen1 {
    display: flex;
    grid-area: imagen1;
    justify-content: space-around;
  }
  .ingredientes {
    grid-area: ingredientes;
  }
  #pasos {
    grid-area: pasos;
  }
}
header {
  background-color: #ffdb4d;
}

header h1 {
  font-style: bold;
}

footer {
  background-color: #ffdb4d;
}

footer p {
  font-style: bold !important;
}

#smams, #dimax, #naturalseed {
  filter: saturate(35%);
}

#grillamarcas {
  display: grid;
  display: flex;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "smams dimax naturalseeds";
  border: 1px solid black;
  justify-content: space-around;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

#otrasmarcas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}

.dimax {
  grid-area: dimax;
}

.naturalseeds {
  grid-area: naturalseeds;
}

.smams {
  grid-area: smams;
}

/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */